name: Email Step Action

on: 
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 23f2005169@ds.study.iitm.ac.in
        run: echo "The action is running successfully for this user."
